# Maven
**/target/
**/.mvn/timing.properties

# Java
**/*.class

# IDEs
.idea/
.vscode/
*.iml
.classpath
.project
.settings/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# 1.21 Solo generated/local release files
solo/1.21/solo-dist/
solo/1.21/solo-1.21-dist/
solo/1.21/solo-1.21-dist.zip
solo/1.21/tools/
